:root {
  --accent-color: #ff6b08;
  --primary-white-color: #ffffff;
  --primary-title-color: #000000;
  --button-bg-color: #f7f7f7;
  --footer-text-color: #545454;
  --error-message-color: #ff001b;
  --modal-btn-color: #ff6b01;
  --modal-params-color: #8c8c8c;
}
