
<!-- header 4 my libraries -->
<header class="head-library">
  <div class="head-library-container container">
    <nav class="head-library__nav">
      <div class="head-library__wrap-menu">
        <!-- </div> -->
        <ul class="head-library__list-logo">
          <li class="head-library__logo-item">
            <a href="index.html" class="head-library__logo-link">
          
              <svg class="logo-svg" width="24" height="24">
            
                <use href="/images/logo.svg#film-1"></use>
          </svg>
        </a>
      </li>
          <li class="head-library__logo-item-text">
            <a href="#" class="head-library__logo-text-link">Filmoteka</a>
          </li>
        </ul>
        
        

        <ul class="head-library__menu-list">
          <li class="head-library__menu-list-item">
            <a href="#" class="head-library__menu-list-link">home</a>
          </li>
          <li class="head-library__menu-list-item current-menu">
            <a href="#" class="head-library__menu-list-link">my library</a>
          </li>
        </ul>
      </div>
      <di- class="head-library__btn-wrapper">
        <button class="head-library__btn">watched</button>
        <button class="head-library__btn current-btn">queue</button>
      </di-
    </nav>
  </div>
</header>

<!-- END of header 4 my libraries -->
