<section class="movies-section">
  <div class="container">
    <ul class="movies" id="list"></ul>

    <div class="spinner"></div>
    <div class="pagination" data-pagination>
      <button class="pagination__btn-prev" type="button" data-btn="prev" disabled>
        <svg class="pagination__icon" width="16" height="16">
          <use href="./images/symbol-defs.svg#icon-arrow-left"></use>
        </svg>
      </button>
      <ul id="pagination__list" class="pagination__list">
      </ul>
      <button class="pagination__btn-next" type="button" data-btn="next">
        <svg class="pagination__icon" width="16" height="16">
          <use href="./images/symbol-defs.svg#icon-arrow-right"></use>
        </svg>
      </button>
      <button class="scroll__top scroll__hide" type="button" title="Scroll to top" data-scroll-top>
        <svg width="16" height="16">
          <use href="./images/symbol-defs.svg#icon-arrow-up"></use>
        </svg>
      </button>
      <button class="scroll__bottom scroll__hide" type="button" title="To the bottom" data-scroll-bottom>
        <svg width="16" height="16">
          <use href="./images/symbol-defs.svg#icon-arrow-down"></use>
        </svg>
      </button>
    </div>

  </div>
</section>