.footer {
  width: 100%;
  background: #f7f7f7;

  &__section {
    @include font(14px, 1.14, 400);
    color: #545454;
    height: 100px;
    align-items: center;
    text-align: center;
    @include mq(tablet) {
      @include font(16px, 1.19, 400);
      height: 77px;
      display: flex;
      justify-content: center;
    }
  }

  &__text {
    margin-right: 4px;
    @include mq(mobile-only) {
      margin-top: 0;
      margin-bottom: 10px;
      padding-top: 28px;
    }
  }

  &__svg {
    margin: 0 10px;

    fill: #ff6b08;

    transition: fill 300ms;
    transform: scale(1.5);
    animation: heart-animate 1500ms infinite 1500ms;
  }

  &__button {
    padding-left: 5px;
    padding-right: 5px;
    color: #545454;
    text-decoration: underline;
    transition: background-color 250ms ease-in-out;
    cursor: pointer;
    border: none;
    background-color: transparent;
    &:hover,
    &:focus {
      background-color: #ff6b08;
      border-radius: 5px;
      color: #fff;
    }
  }
}



@keyframes heart-animate {
    0% {
      transform: scale(1);
    }
  
    50% {
      transform: scale(2);
    }
  
    100% {
      transform: scale(1);
    }
  }
