.head-library {
  padding-top: 50px;
  height: 230px;
  background-color: rgba(186, 185, 189, 0.56);
  background-image: linear-gradient(to right, rgba(0, 0, 0, 0.56), rgba(0, 0, 0, 0.56)),
    url('/images/header-library/back-img-header-mb.jpg');
  background-repeat: no-repeat;
  background-size: cover;

  @include mq(retina) {
    background-image: linear-gradient(to right, rgba(0, 0, 0, 0.56), rgba(0, 0, 0, 0.56)),
      url('/images/header-library/back-img-header-mb.jpg');
  }

  @include mq(mobile) {
    background-image: linear-gradient(to right, rgba(0, 0, 0, 0.56), rgba(0, 0, 0, 0.56)),
      url('/images/header-library/back-img-header-tb.jpg');

    @include mq(retina) {
      background-image: linear-gradient(to right, rgba(0, 0, 0, 0.56), rgba(0, 0, 0, 0.56)),
        url('/images/header-library/back-img-header-tb-2x.jpg');
    }
  }

  @include mq(tablet) {
    //
    background-image: linear-gradient(to right, rgba(0, 0, 0, 0.56), rgba(0, 0, 0, 0.56)),
      url('/images/header-library/back-img-header-tb.jpg');

    @include mq(retina) {
      background-image: linear-gradient(to right, rgba(0, 0, 0, 0.56), rgba(0, 0, 0, 0.56)),
        url('/images/header-library/back-img-header-tb-2x.jpg');
    }

    @include mq(desktop) {
      background-image: linear-gradient(to right, rgba(0, 0, 0, 0.56), rgba(0, 0, 0, 0.56)),
        url('/images/header-library/back-img-header-dsc.jpg');

      @include mq(retina) {
        background-image: linear-gradient(to right, rgba(0, 0, 0, 0.56), rgba(0, 0, 0, 0.56)),
          url('/images/header-library/back-img-header-dsc-2x.jpg');
      }
    }
  }

  &-container {
    width: 100%;
  }

  &__wrap-menu {
    display: flex;
    justify-content: space-between;
    align-items: flex-end;
    margin-bottom: 50px;
  }

  &__list-logo {
    display: flex;
    align-items: flex-end;
  }

  &__logo-item-text {
    visibility: hidden;

    @include mq(tablet) {
      margin-left: 10px;
      visibility: visible;
      @include font(30px, 1.16, 500);
    }
  }

  &__logo-text-link {
    color: var(--primary-white-color);
  }

  &__menu-list {
    display: flex;

    &-item {
      @include font(12px, 14px, 500);
      text-transform: uppercase;
      color: var(--primary-white-color);
    }

    &-item:first-child {
      margin-right: 39px;
    }

    &-link {
      color: var(--primary-white-color);
    }
  }

  &__btn-wrapper {
    display: flex;
    justify-content: space-between;
    width: 280px;
    margin: 0 auto;
  }

  &__btn {
    //  padding: 14px 38px;
    width: 130px;
    height: 44px;
    border-radius: 5px;
    color: var(--primary-white-color);
    background-color: transparent;
    border: 1px solid var(--primary-white-color);
    text-transform: uppercase;
    @include font(12px, 16px, 500);

    &:first-child {
      margin-right: 19px;
    }
  }
}

.current-btn {
  background-color: var(--modal-btn-color);
  border: 1px solid var(--modal-btn-color);
}

li.current-menu::after {
  content: '';
  //   position: absolute;
  display: flex;
  margin-bottom: -1px;

  width: 100%;
  height: 3px;

  background-color: var(--modal-btn-color);
}
