.pagination {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 40px;
  margin-top: 45px;

  &__page-btn {
    // outline: 1px solid tomato;
    display: inline-block;
    position: relative;
    width: 40px;
    height: 40px;
    padding: 13px 0 10px;
    // margin-left: 0;
    font-family: 'Roboto';
    @include font(12px, 1.3, 500);
    color: var(--primary-title-color);
    vertical-align: middle;

    &.pagination__is-selected {
      color: var(--primary-white-color);
      background-color: var(--accent-color);
      border-color: var(--accent-color);
      border-radius: 5px;
      cursor: default;
    }
  }

  &__list {
    display: flex;
  }

  &__item:not(:last-child) {
    margin-right: 5px;
  }
}
